/* ------------------ PC ------------------ */
@media (min-width: 992px) {
   .mobile-header {
      display: none;
   }
}



/* ------------------ Tablet & Mobile ------------------ */
@media (max-width: 991.98px) {

   /* 1. ẩn navbar */
   .navbar {
      display: none;
   }

   /* 2. chuyển logo vào giữa */
   .header-top {
      position: relative;
   }

   .header__logo {
      position : absolute;
      left     : 50%;
      translate: -50% -50%;
      /* ===> căn giữa logo */
   }

   /* 3. căn lại vị trí icon menu */
   .menu-header__icon {
      position: absolute;
      top     : 38px;
      left    : 26px;
      color   : #fff;
      width   : 24px;
   }

   /* 4. Overlay */
   .memu-overlay {
      position        : fixed;
      background      : rgba(0, 0, 0, 0.3);
      inset           : 0;
      /* inset        : 0; ===> cách 4 cạnh = 0 */
      z-index         : 1;
      opacity         : 0;
      visibility      : hidden;
      transition      : 0.5s;
   }

   /* 5. Ktra checkbox có đc check hay không */
   .nemu-checkbox:checked~.memu-overlay {
      opacity   : 1;
      visibility: visible;
   }

   /* 6. Code phần menu drawer */
   .menu-drawer {
      position        : fixed;
      background-color: #2e1919;
      inset           : 0 40% 0 0;
      z-index         : 2;
      transform       : translateX(-100%);
      transition      : 0.5s;
      padding         : 60px;
   }

   /* 7. Ktra nếu checkbox đc check hiện menu */
   .nemu-checkbox:checked~.menu-drawer {
      transform: translateX(0);
   }

   /* 8. menu top */
   .menu-drawer__top {
      display        : flex;
      justify-content: space-between;
      align-items    : center;
   }

   .close__menu {
      width: 24px;
      color: #fff;
   }

   #navbar__list--mobile {
      margin-top    : 25px;
      flex-direction: column;
   }

   .navbar__link {
      display   : block;
      font-size : 2rem;
      text-align: left;
   }

   .navbar__link:hover {
      background-color: #00ffff37;
   }

   /* 9. Xếp dọc xuống phần hero */
   .hero {
      flex-direction: column;
      gap           : 50px;
   }

   .hero__content {
      order: 2;
   }

   .hero__media {
      order: 1;
   }

   .hero__content {
      width     : 80%;
      text-align: center;
      margin    : 22px auto;
   }

   .hero__row {
      justify-content: center;
   }

   /* 10. Xếp dọc xuống phần service */
   .service__row {
      flex-direction: column;
      row-gap       : 20px;
   }

   .service__img {
      width: 100%;
   }

   .service__list {
      text-align: center;
   }

   .service-item {
      width     : 90%;
      text-align: start;
   }

   /* 11. Xếp dọc xuống phần work list */
   .work__list {
      grid-template-columns: 1fr;
      row-gap              : 30px;
   }

   /* 12. Xếp dọc xuống phần about */
   .about-row {
      flex-direction: column;
      row-gap       : 30px;
   }

   .about__img--small {
      display: none;
   }

   .about__media {
      width: 100%;
   }

   .about__img--big {
      margin       : 25px auto;
      border-radius: 15px;
   }

   .about-content {
      text-align: center;
      width     : 90%;
   }

}




/*  ------------------ Tablet ------------------ */
@media (min-width: 768px) and (max-width: 991.98px) {}




/* ------------------ Mobile ------------------ */
@media (max-width: 767.98px) {}



/* tạm ẩn phần không liên quan */

footer {
   display: none;
}